.mobile_sidebar {
    border-right: 1px solid var(--twitter-background);
    padding: 20px;
}

.sidebar__twitterIcon {
    color: var(--twitter-color) !important;
    font-size: 30px !important;
}

.sidebar__tweet {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
}

@media (min-width: 900px) {
    .sidebar {
        flex: 0.3;
        position: sticky;
        top: 0;
    }
}
