body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf8;
    overflow-y: scroll;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
body::-webkit-scrollbar {
    display: none;
}
.App::-webkit-scrollbar {
    display: none;
}
.App {
    overflow-y: scroll;
    max-width: 1300px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 10px;
}

a {
    color: black;
    text-decoration: none;
}
.submitButton {
    margin-right: 1rem !important;
}

@media (min-width: 900px) {
    .App {
        display: flex;
    }
}
